<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="topbar" th:fragment="header">
    <div class="brand">
        <a th:href="@{/ui}">Instant Mobility</a>
        <span class="tag">BC-05 &middot; Rating</span>
    </div>
    <nav>
        <a th:href="@{/ui}">Home</a>
        <a th:href="@{/ui/rate}">Submit a Rating</a>
        <a th:href="@{/ui/all}">All Ratings</a>
        <a th:href="@{/ui/lookup}">Look up by Vehicle/Provider</a>
    </nav>
</header>
</body>
</html>
