<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="topbar" th:fragment="topbar">
    <div class="brand">
        <a th:href="@{/ui}">Instant Mobility</a>
        <span class="tag">BC-03 &middot; Booking</span>
    </div>
    <nav>
        <a th:href="@{/ui}">Home</a>
        <a th:href="@{/ui/search-book}">Search &amp; Book</a>
        <a th:href="@{/ui/my-bookings/1}">My Bookings</a>
        <a th:href="@{/ui/all}">All Bookings</a>
    </nav>
</header>
</body>
</html>
